@font-face {
    font-family: "Panton";
    src: url("../fonts/Panton-Regular.eot");
    src: local("☺"), url("../fonts/Panton-Regular.woff") format("woff"),
        url("../fonts/Panton-Regular.ttf") format("truetype"), url("../fonts/Panton-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Panton";
    src: url("../fonts/Panton-ExtraBold.eot");
    src: local("☺"), url("../fonts/Panton-ExtraBold.woff") format("woff"),
        url("../fonts/Panton-ExtraBold.ttf") format("truetype"), url("../fonts/Panton-ExtraBold.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Panton";
    src: url("../fonts/Panton-Bold.eot");
    src: local("☺"), url("../fonts/Panton-Bold.woff") format("woff"), url("../fonts/Panton-Bold.ttf") format("truetype"),
        url("../fonts/Panton-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Panton";
    src: url("../fonts/Panton-Black.eot");
    src: local("☺"), url("../fonts/Panton-Black.woff") format("woff"),
        url("../fonts/Panton-Black.ttf") format("truetype"), url("../fonts/Panton-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Panton";
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #393939;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    display: block;
    background-color: #393939;
    height: 120px;
    position: relative;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 5;
}

.header__inner {
    position: relative;
    padding-top: 19px;
}

.header__logo {
    display: block;
    width: 100%;
    max-width: 83px;
    margin-top: 18px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.header__logo img {
    display: block;
    width: 83px;
    height: 83px;
}

.header__contacts {
    text-align: right;
    margin-left: 110px;
    padding-top: 11px;
    margin-bottom: 18px;
    font-size: 20px;
    
}

.header__email,
.header__phone {
    color: #a0d200;
    text-decoration: none;
    transition: all 0.2s linear;
}

.header__email {
    font-size: 14px;
    line-height: 1.2;
    margin-right: 41px;
}

.header__phone {
    font-size: 20px;
    line-height: 1.2;
}

.header__phone:hover,.header__email:hover  {
    color: #fff;
}

.header__email .icon {
    margin-right: 12px;
    vertical-align: middle;
}

.icon-letter {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url(../img/letter_icon.png) no-repeat center center;
}

.icon-search {
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url(../img/search.png) no-repeat center center;
    margin-left: 17px;
}

.header__nav {
    margin-left: 110px;
    position: relative;
    text-align: right;
}

.header__menu {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__menu-item {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-left: 21px;
}

.header__menu-item:first-child {
    margin-left: 0;
}

.header__menu-item > a {
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.header__menu-item > a:hover {
    border-bottom: 1px solid #fff;
}

.header__menu-item.active {
    border-bottom: 1px solid #fff;
}

/*****************   HEADER  */

.header__slider {
    position: relative;
    width: 100%;
    height: 470px;
    background: url(../img/contacts/banner.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

.btns {
    width: 30px;
    height: 60px;
}

.plus,
.minus {
    position: absolute;
    left: 100px;
    bottom: 80px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #9fd100;
}

.minus {
    position: absolute;
    bottom: 50px;
}

.plus:hover,
.minus:hover {
    opacity: 0.5;
}

.plus:before,
.plus:after,
.minus:before,
.minus:after {
    position: absolute;
    top: 7px;
    left: 14px;
    content: " ";
    height: 16px;
    width: 1px;
    background-color: white;
}

.plus:before,
.minus:before {
    transform: rotate(90deg);
}

.plus:after,
.minus:after {
    transform: rotate(-180deg);
}

.circle__maps {
    margin: 0 auto;
    height: 370px;
    width: 370px;
    background-color: #A0D200;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    padding-top: 100px;
}

.maps-marker {
    margin: 0 auto;
    display: block;
    width: 42px;
    height: 56px;
    background: url(../img/contacts/marker.png) no-repeat center center;
    margin-bottom: 20px;
}

.circle__adress {
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   color: #fff;
}

/*****************   SLIDER  */

.page__content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.page__title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid #393939;
}

.contacts__list__item {
    margin-bottom: 30px;
}

.contacts__title {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contacts__list__item a {
    color: #A0D200;
    text-decoration: none;
    transition: all .3s linear;
}

.contacts__list__item a:hover {
    color: rgb(82, 82, 82);
}

.contacts__notification {
    font-size: 12px;
    line-height: 1.6;
    max-width: 650px;
    margin-bottom: 40px;
}

.icon__contacts {
    margin-right: 10px;
}

.icon-wi-fi {
    width: 31px;
    height: 21px;
    background: url(../img/contacts/signal.png) no-repeat center center;
    display: inline-block;
}

.contacts__notification-title {
    display: block;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 20px;
}

.contacts__notification-title span {
    display: inline-block;
    border-bottom: 4px solid #A0D200;
}

/********************** contacts__notification  */

.driving__directions {
    margin-bottom: 10px;
}

.driving__directions__list {
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.driving-direction {
    width: 100%;
    max-width: 330px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.driving-directions__col:nth-child(odd) {
    border-right: 1px solid #C4C4C4;
    padding-left: 20px;
    padding-right: 0;
    text-align: left;
}

.driving-directions__col {
    padding-right: 20px;
    width: 50%;
    text-align: right;
}

.icon-metro {
    display: inline-block;
    width: 72px;
    height: 86px;
    background: url(../img/contacts/metro.png) no-repeat center center;
}

.driving__directions-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 30px;
}

.driving__directions-disc {
    font-size: 12px;
    margin-top: 0;
    margin-bottom 0;
    line-height: 1.6;
}

/********************** driving__directions  */

.contacts__req {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.req__frame {
    width: 710px;
    height: 260px;
    background: url(../img/contacts/frame-contacts.png) no-repeat center center;
}

.req {
   padding-left: 100px;
   padding-top: 25px;
   display: block;
}


.contacts__title {
    margin-bottom: 30px;
}

.contacts__desc {
    display: block;
    font-size: 12px;
}

.IP {
    text-transform: uppercase;
}

.desc-2 {
    line-height: 3;
}

.down__req {
    position: relative;
    padding-right: 50px;
}

.download_req {
    
    font-size: 12px;
    text-transform: uppercase;
}

.download_req-green a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #A0D200;
}

.download_req-green a:hover {
    color: rgb(82, 82, 82);
}

.icon-download {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../img/contacts/download.png) no-repeat center center;
} 

/********************** contacts__req  */

.section__order {
    background-color: #F3F3F3;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 380px;
}

.section__order-call {
    display: flex;
    justify-content: space-between;
}

.section-order__title {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

.section__order-call-right {
    display: flex;
}

.section__order-call-right a {
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    color: #393939;
    margin-top: 35px;
    transition: all .2s linear;
}

.section__order-call-right a:hover {
    color: #A0D200;
}

.icon-call {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../img/contacts/phone.png) no-repeat center center;
    margin-left: 40px;
} 

.section__order-form {
    margin-top: 50px;
}

.form-recall__inner {
    position: relative;
    min-height: 52px;
    padding-right: 300px;
    margin-bottom: 10px;
}

.form-recall__fields {
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    max-width: 560px;
    display: flex;
}

.form-recall__field {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    height: 52px;
    float: left;
}

.form-recall__field label {
    display: block;
    line-height: 52px;
    color: #393939;
    text-transform: uppercase;
    font-size: 12px;
    white-space: nowrap;
    float: left;
} 

#ord_form .form-recall__field input {
    height: 50px;
}

.form-recall__field input {
    display: block;
    height: 52px;
    line-height: 1;
    width: 200px;
    float: right;
    border: 0;
    padding: 0 20px;
    outline: 0;
    font-size: 18px;
    color: #393939;
    font-family: 'Panton', sans-serif;
}

.button.form-recall__submit {
    line-height: 50px;
} 

.form-recall__submit {
    width: 100%;
    max-width: 275px;
    height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #a0d200;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transition: background-color .4s;
}


.form-recall__submit span, .form-recall__submit .icon {
    display: inline-block;
    vertical-align: middle;
} 

.form-recall__submit .icon {
    margin-right: 8px;
} 

.icon-recall {
    width: 20px;
    height: 20px;
    background: url(../img/contacts/recall.png) no-repeat center center;
}

.form-recall__desc {
    font-size: 10px;
    margin-top: 20px;
}

.form-recall__desc a {
    color: #a0d200;
    cursor: pointer;
    transition: all 0.2s linear;
}

.form-recall__desc a:hover {
    color:rgb(82, 82, 82);
}

/********************** form  */


/*****************   PAGE CONTENT  */

.footer {
    height: 290px;
    display: block;
    background-color: #393939;
    position: relative;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__logo {
    width: 83px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 70px;
}

.footer__contacts {
    width: 60%;
}

.footer__inner {
    position: relative;
    min-height: 200px;
    padding-right: 100px;
}

.footer__contacts-number {
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    
}

.number-1 {
    transition: all 0.2s linear;
}

.number-1:hover{
    color: #A0D200;
}

.footer__contacts a {
    text-decoration: none;
    color: #fff;
}

.contacts-adress {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
}

.contacts-work {
    display: block;
    font-size: 12px;
    font-weight: normal;
}

.contacts-parking {
    margin-top: 20px;
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

.footer_row {
    display: flex;
}

.footer__social {
    width: 40%;
}

.social__item {
    margin-left: 150px;
}

.social__item a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    transition: all 0.2s linear;
}

.social__item a:hover {
    color: #A0D200;
}

.footer__copyright {
    margin-top: 30px;
    font-size: 12px;
}

.copyright-text {
    display: block;
    margin-bottom: 10px;
}

.social__item .icon {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
}

.icon-facebook {
    width: 13px;
    height: 9px;
    background: url(../img/facebbok-icon.png) no-repeat center center;
}

.icon-vk {
    width: 14px;
    height: 9px;
    background: url(../img/vk-icon.png) no-repeat center center;
}

.icon-instagram {
    width: 14px;
    height: 9px;
    background: url(../img/insta-icon.png) no-repeat center center;
}

.icon-youtube {
    width: 14px;
    height: 9px;
    background: url(../img/youtube-icon.png) no-repeat center center;
}

.icon-WhatsApp {
    width: 14px;
    height: 9px;
    background: url(../img/watsup-icon.png) no-repeat center center;
}

.icon-Skype {
    width: 14px;
    height: 9px;
    background: url(../img/skype-icon.png) no-repeat center center;
}

.icon-Viber {
    width: 14px;
    height: 9px;
    background: url(../img/viber-icon.png) no-repeat center center;
}

.icon-letter-footer {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 22px;
    height: 16px;
    background: url(../img/letter_icon.png) no-repeat center center;
}

.icon-search-footer {
    position: absolute;
    top: 0;
    right: 40px;
    display: inline-block;
    width: 25px;
    height: 19px;
    background: url(../img/search.png) no-repeat center center;
}
